GEMINI_API_KEY=
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_KEY_SECRET=
RAZORPAY_KEY_ID=
MONGODB_URI=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=
EMAIL_PASS=
EMAIL_USER=
CORS_ORIGIN=
PORT=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
RESEND_API_KEY=
EMAIL_FROM=